.home-con {
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-img {
    border-radius: 50%;
    max-width: 250px;
}
.profile-title {
    color: var(--main-text-color);
    margin: 5px 0 -5px 0;
}
.my-name {
    color: var(--main-text-color);
}
.profile-des {
    color: var(--main-text-color);
    margin: 5px 10px;
}