.footer-con {
    background: var(--nav-bg-color);
    color: var(--nav-text-color);
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* social media */
.item-1 {
    margin: 10px auto;
}
.fab {
    padding: 0 30px;
    font-size: 1.5em;
}
/* last modified dates */
.item-2 {
    display: none;
}