/* Define vars for the root element */

:root {
  --nav-bg-color: black;
  --nav-text-color: white;
  --main-text-color: black;
  --main-hover-color: rgb(0, 255, 255);
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
